<div class="jumbotron text-center">
    <h1 class="display-3">НАЧАЛНА СТРАНИЦА</h1>
    <p class="lead">Последно добавени заявки</p>
    <a class="btn btn-dark btn-lg" href="/add">ДОБАВИ ЗАЯВКА</a>
</div>